# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata

# User-specific
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Build artifacts
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
*.xcodeproj/**/Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Temporary files
*.swp
*~.nib
*.moved-aside
